@import url('https://fonts.googleapis.com/css?family=Manuale|Roboto+Slab');
body {
	background-color: #000;
}
h1 {
	font-family: 'Roboto+Slab', serif;
	font-style: center; 
}
h3 {font-family: Arial, sans-serif;
}
p {font-family: Manuale, serif;
}