body{
	text-align: center;
	font-family: sans-serif;
	font-size: 48px;
}

ul {
	list-style: none;
	float: none;
	margin: 3em;
}
li {
	width: 50%;
	float: left;
}

li a {
	display: block;
}

section {
	float: left;
}

img {
	width: 15%;
	border-radius: 10%;
	box-shadow: 2px 3px 5px 2px #77001d;
	margin-top: 7%
	margin-bottom: 8%
}

p { 
	float: right; 
	font-size: 48px;
}

a {
	margin: 2.5px 6px 2.5px 2.5px;
	border: 3px solid #77001d;
	padding-right: 10px;
	padding: 20px;
	color: #515151;
	text-decoration: none;
	font-size: 1.5em;
	transition: color 340ms;
}

a:hover {
	color: purple;
}

.Contact {
	color: green;
}

.clearfix:after {
	content: '';
	display: block;
	visibility: hidden;
	height:0;
	font-size:0;
}

@media only screen and (max-width: 1280px) {
	img {
		width: 50%;	
	}	
}

@media only screen and (max-width: 510px) {
	body {
		font-size: .5em;
	}	
}

@media only screen and (max-width: 420px) {
	ul {
	column-count: 0;
	float: left;
	text-align: center;
	}

	li {
		width: 100%;
		float:none;
		display: inline-block;

	}
}